In [46]:
import pandas as pd
import sqlite3

In [47]:
conn = sqlite3.connect("motors.db")

In [48]:
cur = conn.cursor()

In [49]:
conn = sqlite3.connect('motors.db')

In [71]:
fault_log = pd.read_sql_query("SELECT * FROM fault_log", conn)
fault_log

    id  fault_id  user_id  function_id                date_created
0    1         1        1            1  2021-03-07 16:18:49.523299
1    2         2        1            1  2021-03-07 22:10:37.769764
2    3         1        1            2  2021-03-07 22:10:53.902803
3    4         2        1            7  2021-03-07 22:43:03.114452
4    5         1        1            4  2021-03-07 22:43:17.447582
5    6         2        1            9  2021-03-07 22:44:40.142168
6    7         1        1            6  2021-03-07 22:44:56.891017
7    8         1        3            8  2021-03-07 22:49:46.560386
8    9         2        3           10  2021-03-07 22:51:14.387925
9   10         2        3            4  2021-03-07 22:57:13.382065
10  11         2        3           10  2021-03-07 22:58:17.615457
11  12         2        3           11  2021-03-07 22:59:42.511244
12  13         2        3            5  2021-03-07 23:00:09.811282
13  14         3        3            5  2021-03-07 23:00:31.437977

In [72]:
fault = pd.read_sql_query("SELECT * FROM faults", conn)
fault

   id                   fault
0   1           Bearing Fault
1   2             Earth Fault
2   3  Broken Rotor Bar Fault
3   4    Single Phasing Fault
4   5     Short Circuit Fault

In [73]:
function = pd.read_sql_query("SELECT * FROM function", conn)
function

,id,number,name,rating,motor_id,location_id,starter_id,date_created
0,1,11-MA-001,Tramp Metal Magnet,8,25.0,2,1,2021-03-07 15:52:39.440615
1,2,11-CV-001,CV-001 CONVEYOR,75,9.0,2,3,2021-03-07 15:54:27.209933
2,3,11-FE-002,GRIZZLEY FEEDER,15,NaN,2,3,2021-03-07 15:57:32.697442
3,4,12-PP-10,SAG MILL EXTERNAL FAN AIR,5,22.0,3,1,2021-03-07 16:01:23.530884
4,5,12-PP-03,SAG 2 MOTOR,3800,28.0,3,5,2021-03-07 16:05:24.001105
5,6,12-FA-15,BALL MILL EXTERNAL AIR FAN,45,1.0,3,1,2021-03-07 16:09:46.882493
6,7,23-PP-38,REACTOR AREA SUMP PUMP TRAIN,11,16.0,1,1,2021-03-07 16:12:25.005699
7,8,23-AG-001,REACTOR TANK 11 AGITATOR,132,2.0,1,1,2021-03-07 16:13:28.972846
8,9,23-AG-023,REACTOR TANK 23 AGITATOR,132,3.0,1,1,2021-03-07 16:14:01.886027
9,10,23-AG-021,REACTOR TANK 21 AGITATOR,110,12.0,1,1,2021-03-07 16:14:47.982019
10,11,23-AG-010,SURGE TANK 10 AGITATOR,110,13.0,1,1,2021-03-07 16:15:19.308104
11,12,23-AG-026,REACTOR TANK26 AGITATOR,110,14.0,1,1,2021-03-07 16:16:07.842512

In [74]:
df1 = pd.merge(fault_log, fault, left_on='fault_id', right_on='id')
df1

,id_x,fault_id,user_id,function_id,date_created,id_y,fault
0,1,1,1,1,2021-03-07 16:18:49.523299,1,Bearing Fault
1,3,1,1,2,2021-03-07 22:10:53.902803,1,Bearing Fault
2,5,1,1,4,2021-03-07 22:43:17.447582,1,Bearing Fault
3,7,1,1,6,2021-03-07 22:44:56.891017,1,Bearing Fault
4,8,1,3,8,2021-03-07 22:49:46.560386,1,Bearing Fault
5,2,2,1,1,2021-03-07 22:10:37.769764,2,Earth Fault
6,4,2,1,7,2021-03-07 22:43:03.114452,2,Earth Fault
7,6,2,1,9,2021-03-07 22:44:40.142168,2,Earth Fault
8,9,2,3,10,2021-03-07 22:51:14.387925,2,Earth Fault
9,10,2,3,4,2021-03-07 22:57:13.382065,2,Earth Fault
10,11,2,3,10,2021-03-07 22:58:17.615457,2,Earth Fault
11,12,2,3,11,2021-03-07 22:59:42.511244,2,Earth Fault
12,13,2,3,5,2021-03-07 23:00:09.811282,2,Earth Fault
13,14,3,3,5,2021-03-07 23:00:31.437977,3,Broken Rotor Bar Fault

In [75]:
df2 = pd.merge(df1, function, left_on='function_id', right_on='id')
df2['location_id'] = df2['location_id'].astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_x            14 non-null     int64
 1   fault_id        14 non-null     int64
 2   user_id         14 non-null     int64
 3   function_id     14 non-null     int64
 4   date_created_x  14 non-null     object
 5   id_y            14 non-null     int64
 6   fault           14 non-null     object
 7   id              14 non-null     int64
 8   number          14 non-null     object
 9   name            14 non-null     object
 10  rating          14 non-null     int64
 11  motor_id        14 non-null     float64
 12  location_id     14 non-null     int32
 13  starter_id      14 non-null     object
 14  date_created_y  14 non-null     object
dtypes: float64(1), int32(1), int64(7), object(6)
memory usage: 1.7+ KB

In [76]:
location= pd.read_sql_query("SELECT * FROM location", conn)
location

   id      location
0   1          Biox
1   2       Crusher
2   3  Milling Area
3   4    Floatation
4   5       Elution
5   6      Goldroom
6   7           WTP
7   8      Backfill
8   9           CIL

In [82]:
df3 = pd.merge(df2, location, left_on='location_id', right_on='id')
df3['starter_id'] = df3['starter_id'].astype(int)
df3

,id_x,fault_id,user_id,function_id,date_created_x,id_y,fault,id_x,number,name,rating,motor_id,location_id,starter_id,date_created_y,id_y,location
0,1,1,1,1,2021-03-07 16:18:49.523299,1,Bearing Fault,1,11-MA-001,Tramp Metal Magnet,8,25.0,2,1,2021-03-07 15:52:39.440615,2,Crusher
1,2,2,1,1,2021-03-07 22:10:37.769764,2,Earth Fault,1,11-MA-001,Tramp Metal Magnet,8,25.0,2,1,2021-03-07 15:52:39.440615,2,Crusher
2,3,1,1,2,2021-03-07 22:10:53.902803,1,Bearing Fault,2,11-CV-001,CV-001 CONVEYOR,75,9.0,2,3,2021-03-07 15:54:27.209933,2,Crusher
3,5,1,1,4,2021-03-07 22:43:17.447582,1,Bearing Fault,4,12-PP-10,SAG MILL EXTERNAL FAN AIR,5,22.0,3,1,2021-03-07 16:01:23.530884,3,Milling Area
4,10,2,3,4,2021-03-07 22:57:13.382065,2,Earth Fault,4,12-PP-10,SAG MILL EXTERNAL FAN AIR,5,22.0,3,1,2021-03-07 16:01:23.530884,3,Milling Area
5,7,1,1,6,2021-03-07 22:44:56.891017,1,Bearing Fault,6,12-FA-15,BALL MILL EXTERNAL AIR FAN,45,1.0,3,1,2021-03-07 16:09:46.882493,3,Milling Area
6,13,2,3,5,2021-03-07 23:00:09.811282,2,Earth Fault,5,12-PP-03,SAG 2 MOTOR,3800,28.0,3,5,2021-03-07 16:05:24.001105,3,Milling Area
7,14,3,3,5,2021-03-07 23:00:31.437977,3,Broken Rotor Bar Fault,5,12-PP-03,SAG 2 MOTOR,3800,28.0,3,5,2021-03-07 16:05:24.001105,3,Milling Area
8,8,1,3,8,2021-03-07 22:49:46.560386,1,Bearing Fault,8,23-AG-001,REACTOR TANK 11 AGITATOR,132,2.0,1,1,2021-03-07 16:13:28.972846,1,Biox
9,4,2,1,7,2021-03-07 22:43:03.114452,2,Earth Fault,7,23-PP-38,REACTOR AREA SUMP PUMP TRAIN,11,16.0,1,1,2021-03-07 16:12:25.005699,1,Biox
10,6,2,1,9,2021-03-07 22:44:40.142168,2,Earth Fault,9,23-AG-023,REACTOR TANK 23 AGITATOR,132,3.0,1,1,2021-03-07 16:14:01.886027,1,Biox
11,9,2,3,10,2021-03-07 22:51:14.387925,2,Earth Fault,10,23-AG-021,REACTOR TANK 21 AGITATOR,110,12.0,1,1,2021-03-07 16:14:47.982019,1,Biox
12,11,2,3,10,2021-03-07 22:58:17.615457,2,Earth Fault,10,23-AG-021,REACTOR TANK 21 AGITATOR,110,12.0,1,1,2021-03-07 16:14:47.982019,1,Biox
13,12,2,3,11,2021-03-07 22:59:42.511244,2,Earth Fault,11,23-AG-010,SURGE TANK 10 AGITATOR,110,13.0,1,1,2021-03-07 16:15:19.308104,1,Biox

In [85]:
starter =  pd.read_sql_query("SELECT * FROM starter", conn)
starter

   id                      name
0   1            Direct-on-line
1   2              Soft Starter
2   3      Variable Speed Drive
3   4           Autotransformer
4   5  Liquid Resistant Starter

In [83]:
df4 = pd.merge(df3, starter, left_on='starter_id', right_on='id')
df4

,id_x,fault_id,user_id,function_id,date_created_x,id_y,fault,id_x,number,name_x,rating,motor_id,location_id,starter_id,date_created_y,id_y,location,id,name_y
0,1,1,1,1,2021-03-07 16:18:49.523299,1,Bearing Fault,1,11-MA-001,Tramp Metal Magnet,8,25.0,2,1,2021-03-07 15:52:39.440615,2,Crusher,1,Direct-on-line
1,2,2,1,1,2021-03-07 22:10:37.769764,2,Earth Fault,1,11-MA-001,Tramp Metal Magnet,8,25.0,2,1,2021-03-07 15:52:39.440615,2,Crusher,1,Direct-on-line
2,5,1,1,4,2021-03-07 22:43:17.447582,1,Bearing Fault,4,12-PP-10,SAG MILL EXTERNAL FAN AIR,5,22.0,3,1,2021-03-07 16:01:23.530884,3,Milling Area,1,Direct-on-line
3,10,2,3,4,2021-03-07 22:57:13.382065,2,Earth Fault,4,12-PP-10,SAG MILL EXTERNAL FAN AIR,5,22.0,3,1,2021-03-07 16:01:23.530884,3,Milling Area,1,Direct-on-line
4,7,1,1,6,2021-03-07 22:44:56.891017,1,Bearing Fault,6,12-FA-15,BALL MILL EXTERNAL AIR FAN,45,1.0,3,1,2021-03-07 16:09:46.882493,3,Milling Area,1,Direct-on-line
5,8,1,3,8,2021-03-07 22:49:46.560386,1,Bearing Fault,8,23-AG-001,REACTOR TANK 11 AGITATOR,132,2.0,1,1,2021-03-07 16:13:28.972846,1,Biox,1,Direct-on-line
6,4,2,1,7,2021-03-07 22:43:03.114452,2,Earth Fault,7,23-PP-38,REACTOR AREA SUMP PUMP TRAIN,11,16.0,1,1,2021-03-07 16:12:25.005699,1,Biox,1,Direct-on-line
7,6,2,1,9,2021-03-07 22:44:40.142168,2,Earth Fault,9,23-AG-023,REACTOR TANK 23 AGITATOR,132,3.0,1,1,2021-03-07 16:14:01.886027,1,Biox,1,Direct-on-line
8,9,2,3,10,2021-03-07 22:51:14.387925,2,Earth Fault,10,23-AG-021,REACTOR TANK 21 AGITATOR,110,12.0,1,1,2021-03-07 16:14:47.982019,1,Biox,1,Direct-on-line
9,11,2,3,10,2021-03-07 22:58:17.615457,2,Earth Fault,10,23-AG-021,REACTOR TANK 21 AGITATOR,110,12.0,1,1,2021-03-07 16:14:47.982019,1,Biox,1,Direct-on-line
10,12,2,3,11,2021-03-07 22:59:42.511244,2,Earth Fault,11,23-AG-010,SURGE TANK 10 AGITATOR,110,13.0,1,1,2021-03-07 16:15:19.308104,1,Biox,1,Direct-on-line
11,3,1,1,2,2021-03-07 22:10:53.902803,1,Bearing Fault,2,11-CV-001,CV-001 CONVEYOR,75,9.0,2,3,2021-03-07 15:54:27.209933,2,Crusher,3,Variable Speed Drive
12,13,2,3,5,2021-03-07 23:00:09.811282,2,Earth Fault,5,12-PP-03,SAG 2 MOTOR,3800,28.0,3,5,2021-03-07 16:05:24.001105,3,Milling Area,5,Liquid Resistant Starter
13,14,3,3,5,2021-03-07 23:00:31.437977,3,Broken Rotor Bar Fault,5,12-PP-03,SAG 2 MOTOR,3800,28.0,3,5,2021-03-07 16:05:24.001105,3,Milling Area,5,Liquid Resistant Starter

In [88]:
motors = pd.read_sql_query("SELECT * FROM motors", conn)
motors

,id,serial_number,rating,voltage,speed,pf,amp,phase,frame_size,number_of_poles,date_created
0,1,15246615,45.00,440,1480,0.85,75.30,3,225S / M,4,2021-03-07 13:15:43.204340
1,2,XNADX87027,132.00,440,1485,0.86,212.00,3,ND315M,4,2021-03-07 13:20:35.032944
2,3,10563771,132.00,440,1485,0.86,213.00,3,315S/M,4,2021-03-07 13:23:34.916918
3,4,ANADL23482,22.00,440,2930,0.90,36.00,3,ND180L,2,2021-03-07 13:28:18.342281
4,5,000001,45.00,440,1480,0.85,75.30,3,225S / M,4,2021-03-07 13:30:53.328689
5,6,000002,45.00,440,1480,0.85,75.30,3,225S / M,4,2021-03-07 13:31:45.617710
6,7,000003,45.00,440,1480,0.85,75.30,3,225S / M,4,2021-03-07 13:38:39.945912
7,8,000004,0.25,440,1400,0.72,0.60,3,F/S-71,4,2021-03-07 13:54:28.793625
8,9,000005,75.00,440,1485,0.86,121.00,3,280S/M,4,2021-03-07 14:07:42.458723
9,10,000006,0.25,440,1400,0.72,0.60,3,F/S-71,4,2021-03-07 14:13:03.155997
10,11,000007,0.25,440,1400,0.72,0.60,3,F/S-71,4,2021-03-07 14:14:16.517761
11,12,000008,110.00,440,1482,0.84,198.00,3,D2BOMC,4,2021-03-07 14:26:30.939771
12,13,000009,110.00,440,1482,0.84,198.00,3,D2BOMC,4,2021-03-07 14:28:49.516696
13,14,000010,110.00,440,1485,0.86,178.00,3,280S/M,4,2021-03-07 14:31:54.161560
14,15,000011,90.00,440,1480,0.95,165.00,3,225S / M,4,2021-03-07 14:34:44.855652
15,16,000012,22.00,400,1470,0.86,39.80,3,225S / M,4,2021-03-07 14:37:33.424818
16,17,000013,2.20,440,1430,0.84,4.55,3,100L,4,2021-03-07 14:42:20.044647
17,18,000014,2.20,440,950,0.75,5.18,3,Mot,4,2021-03-07 14:47:46.341218
18,19,000015,2.20,440,950,0.75,5.18,3,Mot,4,2021-03-07 14:55:06.725066
19,20,000016,1.50,440,950,0.71,3.82,3,225S / M,4,2021-03-07 14:58:46.703964
20,21,000017,1.50,440,950,0.71,3.82,3,Mot,4,2021-03-07 15:01:58.516808
21,22,000018,0.37,440,1347,0.72,0.87,3,F/S-21,4,2021-03-07 15:10:09.070529
22,23,000019,0.37,440,1370,0.72,0.37,3,F/S-71,4,2021-03-07 15:12:21.497929
23,24,000023,0.37,440,1482,0.72,0.87,3,F/S-71,4,2021-03-07 15:15:45.926850
24,25,000021,0.37,440,1370,0.72,0.82,3,F/S-71,4,2021-03-07 15:27:55.090604
25,26,00021,7.50,440,2919,0.70,0.87,3,280S/M,2,2021-03-07 15:32:09.320954
26,27,000022,110.00,440,1485,0.86,282.00,3,315S/M,4,2021-03-07 15:43:12.226141
27,28,000024,3800.00,11000,1450,0.86,63.00,3,qwewsd,4,2021-03-07 16:04:22.776940

In [91]:
df5 = pd.merge(df4, motors, left_on='motor_id', right_on='id')
df5.columns

Index(['id_x', 'fault_id', 'user_id', 'function_id', 'date_created_x', 'id_y',
       'fault', 'id_x', 'number', 'name_x', 'rating_x', 'motor_id',
       'location_id', 'starter_id', 'date_created_y', 'id_y', 'location',
       'id_x', 'name_y', 'id_y', 'serial_number', 'rating_y', 'voltage',
       'speed', 'pf', 'amp', 'phase', 'frame_size', 'number_of_poles',
       'date_created'],
      dtype='object')

In [92]:
columns = ['serial_number','number', 'name_x', 'name_y', 'location', 'fault', 'date_created']

In [93]:
df = df5[columns]
df

,serial_number,number,name_x,name_y,location,fault,date_created
0,000021,11-MA-001,Tramp Metal Magnet,Direct-on-line,Crusher,Bearing Fault,2021-03-07 15:27:55.090604
1,000021,11-MA-001,Tramp Metal Magnet,Direct-on-line,Crusher,Earth Fault,2021-03-07 15:27:55.090604
2,000018,12-PP-10,SAG MILL EXTERNAL FAN AIR,Direct-on-line,Milling Area,Bearing Fault,2021-03-07 15:10:09.070529
3,000018,12-PP-10,SAG MILL EXTERNAL FAN AIR,Direct-on-line,Milling Area,Earth Fault,2021-03-07 15:10:09.070529
4,15246615,12-FA-15,BALL MILL EXTERNAL AIR FAN,Direct-on-line,Milling Area,Bearing Fault,2021-03-07 13:15:43.204340
5,XNADX87027,23-AG-001,REACTOR TANK 11 AGITATOR,Direct-on-line,Biox,Bearing Fault,2021-03-07 13:20:35.032944
6,000012,23-PP-38,REACTOR AREA SUMP PUMP TRAIN,Direct-on-line,Biox,Earth Fault,2021-03-07 14:37:33.424818
7,10563771,23-AG-023,REACTOR TANK 23 AGITATOR,Direct-on-line,Biox,Earth Fault,2021-03-07 13:23:34.916918
8,000008,23-AG-021,REACTOR TANK 21 AGITATOR,Direct-on-line,Biox,Earth Fault,2021-03-07 14:26:30.939771
9,000008,23-AG-021,REACTOR TANK 21 AGITATOR,Direct-on-line,Biox,Earth Fault,2021-03-07 14:26:30.939771
10,000009,23-AG-010,SURGE TANK 10 AGITATOR,Direct-on-line,Biox,Earth Fault,2021-03-07 14:28:49.516696
11,000005,11-CV-001,CV-001 CONVEYOR,Variable Speed Drive,Crusher,Bearing Fault,2021-03-07 14:07:42.458723
12,000024,12-PP-03,SAG 2 MOTOR,Liquid Resistant Starter,Milling Area,Earth Fault,2021-03-07 16:04:22.776940
13,000024,12-PP-03,SAG 2 MOTOR,Liquid Resistant Starter,Milling Area,Broken Rotor Bar Fault,2021-03-07 16:04:22.776940